	body{
                background-color:black;
                color:white;
                font-family: calibri;
            }
            
            ul {
                font-size: 12pt;
            }

            p {
                font-size:12px;
                text-align:center;
            }
            
            ul {
                list-style-type: square;
                text-align: left;
            }

            li a{
                color:white;
                text-decoration: none;
                padding:5px 5px;
            }

            li a:hover{
                background-color: burlywood;
            }

            .zzz{
                font-size:1.5em;
                color:burlywood;
            }

            #honorcode{
                font-style: italic;
                margin: 100px 200px 100px 200px;
            }